page-community {
   ion-grid {
        padding-bottom: 20;
   }
   
   ion-col {
        text-align: left;
    }
    #map{
        width: 400px;
        height: 400px;
    }

    .row{
        font-size: 1em;
    }
}
