page-volunteer {
    ion-col {
        text-align: center;
    }

    #topHeading{
        margin-top: 5%;
    }

    #subTopHeading{
        color: gray;
    }

    #inputList{
        margin-top: 15%;
    }

    #startButton{
        margin-top: 0%;
        background-color: #3983a0;
        border-radius: 30px;
    }

    ion-input{
        border: 2px solid gray;
        border-radius: 5px;
        font-size: 15px;
        border-spacing: 10px;
        background-color: #fff;
        
    }


}
