<ion-header >
  <ion-navbar color="clear">
    <ion-grid>
      <ion-row>
        <button ion-button menuToggle right>
          <ion-icon name="menu"></ion-icon>
        </button>
      <h3>
      {{selectedItem.title}}
      </h3>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-item>{{selectedItem.date}}</ion-item>
      <ion-item>{{selectedItem.location}}</ion-item>
      <ion-item>{{selectedItem.note}}</ion-item>
  </ion-list>
<div *ngIf = "selectedItem">
  Attending: {{selectedItem.members}}
</div>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
