  .card-title {
    text-align: center;
    top: 36%;
    font-size: 1.3em;
    width: 100%;
    font-weight: bold;
  }
  .whos-going {
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
  }