page-home {

    ion-col {
        text-align: center;
    }
    // 
    ion-content.content.content-md{
        background-color: #fcb643;
        
    }
    body{
        background-color: #fcb643;
    }
    .content-md{
        background-color: #fcb643;
    }
    #donate {
       background-color: #22c930;
    }
    
}

