page-account {

    img {
        height: 30%;
        width: 40%;
    }

    #edit {
        width:25%;
        height: 5%;
        background-color:#3983a0;
        color: #fff;
        padding-top: 1.5%;
        float: right;
        margin-top: -27%;
    }

    h4 {
        margin-top: 0;
        color: #737373;
        font-size:100%;
    }

    .item{
        background-color: #8fc2d6;
    }
    
}
