page-account {

    img {
        height: 30%;
        width: 40%;
    }

    #edit {
        width:25%;
        height: 5%;
        background-color:#3983a0;
        color: #fff;
        padding-top: 1.5%;
    }

    
}
