<ion-content padding>

  <div class="section-heading scrollpoint sp-effect3">
    <h1 text-center>Open Campaigns</h1>
    <div class="divider"></div>
    <p text-center></p>
  </div>

<!--not in card format-->
  <!--<div>
    <ion-list>
      <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
        <ion-icon [name]="item.icon" item-left></ion-icon>
        {{item.title}}
        <div class="item-note" item-right>
          {{item.date}}
        </div>
      </button>
    </ion-list>
  </div>-->
  <ion-card class = "cards-bg" *ngFor="let item of items" (click)="itemTapped($event, item)">
     <ion-item>
        <h4 class="card-header">{{item.title}}</h4>
    </ion-item>
    
    <ion-card-content>
      <p>{{item.note}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <p>{{item.date}}</p>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
